<li class="grid-item">
  <div class="studio-name"><%= studio.name %></div>
  <%= link_to image_tag(studio.image), studio.facebook_link %>
  <i class="fa fa-facebook-official fa-2x facebook-icon"></i>
  <% if studio.url != nil %>
    <div class="studio-link"><%= link_to "Studio Website", studio.url %></div>
  <% end %>
  <div class="studio-street"><%= studio.street %></div>
  <div class="studio-address"><%= studio.city %>, <%= studio.state %> <%= studio.zip_code %></div>
</li>
