<div class="container">
  <form>
    <input placeholder="Seattle" type="text" id="city"></input>
    <button id="city_btn">Search</button>
  </form>
  <h1>The list of studios in Seattle</h1>
  <ul>
    <% @studios.each do |studio| %>
      <li><%= studio.name %></li>
      <li><%= studio.facebook_id %></li>
      <li><%= studio.url %></li>
      <li><%= image_tag(studio.image) %></li>
      <li><%= studio.street %>,<%= studio.state %></li>
      <br>
    <% end %>
  </ul>
</div>
